{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Post{% endblock title %}

{% block content %}
 <div class="container">
     <h1 class="text-center">Update post</h1>
     <div class="addfrom mb-3">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            {{form|crispy}}
    
            <div class="button text-center">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
     </div>
 </div>
    
{% endblock content %}