[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
sqlparse = "*"
asgiref = "*"
pytz = "*"
sqlalchemy = "*"
pillow = "*"
attr = "*"
django-jazzmin = "*"
django-environ = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2 = "*"
django-heroku = "*"
youtube-search-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
