anyio==3.5.0
asgiref==3.5.0
attr==0.3.1
backports.zoneinfo==0.2.1
boto3==1.21.20
botocore==1.24.20
certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==4.0.3
django-crispy-forms==1.14.0
django-environ==0.8.1
django-heroku==0.3.1
django-jazzmin==2.4.9
django-storages==1.12.3
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
jmespath==0.10.0
Pillow==9.0.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
python-dateutil==2.8.2
pytz==2021.3
rfc3986==1.5.0
s3transfer==0.5.2
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.32
sqlparse==0.4.2
urllib3==1.26.9
whitenoise==6.0.0
youtube-search-python==1.6.2
