{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change password{% endblock title %}
{% block content %}
<div class="container" style="height: 100vh;">
    <div class="change d-flex justify-content-center" style="margin-top: 20px;">
        <form action="" method="post">
            {% csrf_token %}
            <div class="log " style="width:fit-content">
                {{form|crispy}}
            </div>
    
            <button class="btn btn-success " type="submit">Change My Password</button>
        </form>
    </div>
    
</div>
{% endblock content %}