{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}
{% block content %}
  <div class="container" style="height: 100vh;">
    <div class="jumbotron text-center" style="color: black; margin-top: 30px">
      {%if user.is_authenticated %}
      <h1 class="display-4" style="font-family: Noto serif display">Hello, {{user.username}}!</h1>
      {% else %}
      <h1 class="display-4" style="font-family: Noto serif display">Hello!</h1>
      {% endif %}

      <p class="lead">	
        By helping others we are making this world a better place. Let this platform encourage you to assist and support others whenever you can..</p>
      <hr class="my-8">
      <p>Get started, answer or post a question bellow.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'posts:allposts' %}" role="button">Questions</a>
      </p>
    </div>
  </div>
{% endblock content %}

